.apartments {
	background: url('../icons/III.svg') no-repeat;
	background-position: 10vw 20vh;
	padding-top: 120px;

	&__gridbox {
		margin-top: 100px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-auto-rows: auto;
		gap: 30px;
	}

	&__item {
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		border-bottom: 0px yellow solid;

		img {
			width: 100%;
			transition: all 1.2s;
			border-radius: 8px;
		}

		div {
			position: absolute;
			bottom: 15%;
			left: 15%;
			transition: all .6s .6s;
		}

		p {
			position: absolute;
			bottom: -50%;
			transition: all .6s .6s;
			padding: 20px;
		}

		&::before {
			content: '';
			z-index: 99;
			width: 0px;
			height: 4px;
			background-color: var(--main-color1);
			position: absolute;
			left: 0;
			bottom: 15%;
			transition: width .6s, bottom .6s .6s;
		}

		&:hover {
			&::before {
				width: 90%;
				bottom: 45%;
			}

			div {
				bottom: 45%;
				font-size: 20px;
				font-weight: bold;
			}

			img {
				filter: blur(3px);
				scale: 1.3;
			}

			p {
				bottom: 0;
			}
		}
	}
}