.menu {
    display: grid;
    position: absolute;
    right: 0;
    padding-top: 55px;
    z-index: 1;
    ul {
        display: flex;
        justify-content: end;
        list-style: none;
        margin-bottom: 0;
    }
    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        a {
            line-height: 16px;
        }
    }
}