@media (max-width: 1440px) {

}

@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
  .apartments {
    background-size: 70%;
    &__gridbox {
        grid-template-columns: 1fr;
    }
    &__item {
        > img {
            display: block;
            margin: 0 auto;
            width: 90%;
        }
    }
  }
}