.map {
    background: url('../icons/V.svg') no-repeat;
    background-position: 4vw 28vh;
    padding-top: 180px;
    h2 {
        margin-bottom: 100px;
    }
    iframe {
        width: 100%;
    }
}