.tour {
    padding: 180px 0 180px;
    background: url('/img/form/bcg.jpg') center center/cover no-repeat;
    &__flex {
        display: flex;
        gap: 35px;
    }
    &__text {
        margin-bottom: 0;
        padding-top: 50px;
        width: 50%;
    }
    &__wrapper {
        width: 50%;
        padding-top: 30px;
        display: grid;
        height: 135px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 35px;
    }
}